html{
    font-size: 0.9em;
    line-height: 1.4em;
}
h1{
    color: #cc6600;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 1em;
}
.articulo{
    width: 71%;
}
.articulo > h2{
    color: #cc6600;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}
.articulo >p>a:link{
    color: #cc6600;
}
.articulo >p>a:visited{
    color: #cc6600;
}
.articulo>p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
#menu_principal>li>a{
    color: white;
    font-size: 1.3em;
    margin-right: 1em;
}
#menu_principal >li>a:visited{
    color: white;
}
#menu{
    background-color: #003366;
    padding: .3em;
    border: solid #02488f thick;
}
#lateral{
    font-size: 0.9em;
}
.fecha{
    display: block;
    color: #999;
}
#noticias{
    border: solid #999;
    padding: 0.7em;
    margin: 1em;
}
#noticias > h3 > a:link{
    color: #003366;
}
#noticias > h3 > a:visited{
    color: #003366;
}
#publicidad{
    color: #555;
}
#publicidad{
    border-style: dashed;
    border-color: #cc6600;
    background-color: #fde296a6;
    padding: 1em;
}
#publicidad >h3>a:link, #publicidad >p>a:link{
    color: #cc6600;
}
#publicidad >h3>a:visited, #publicidad >p>a:visited{
    color: #cc6600;
}
#secundario{
    border-style: solid;
    border-color: #cc6600;
    padding: 0.5em;
}
#secundario>h2{
    background-color: #cc6600b9;
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.articulo>p{
    text-align:justify;
}
.articulo > img{
    padding: 1em;
}